In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import scipy.stats as stats

**Datasource** applied from https://archive.ics.uci.edu/ml/datasets/Student+Performance

In [26]:
url = '../../Datasets/student/student-mat.csv'
students = pd.read_csv(url, sep=';')
''''pd.options.display.max_columns = None
pd.options.display.max_rows = None'''
students.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,reputation,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,home,mother,1,2,0,no,no,no,no,yes,yes,yes,no,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,home,mother,2,2,0,yes,yes,no,no,yes,yes,no,no,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,home,mother,1,2,0,no,yes,yes,no,yes,yes,yes,no,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,home,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5,5,1,1,1,5,0,14,15,15

<h3><span style="color:red"> Pearson Correlation</span></h3>
<br>
looking for numeric columns then, finding <b>pearson correlation</b> between G3 and numerical attributes

**We are finding all correlations with G3 attribute**
<br>
Looping all numerical columns and calculating correlations and p-value's

In [30]:
#Creating pearson correlation and p-value for the attributes
column_pearson_corr = []
column_pearson_p_value = []

for col in range(num_students.shape[1]):
    pearson_corr = stats.pearsonr(num_students['G3'], num_students[num_students.columns[col]])
    column_pearson_corr.append(pearson_corr[0])
    column_pearson_p_value.append(pearson_corr[1])
    
'''print(len(column_pearson_corr))
print(len(column_pearson_p_value))
print(len(num_students.columns.to_numpy()))
print(column_pearson_corr)'''

# creating DataFrame for all correlations
corr_df = {'Column Name': num_students.columns.to_numpy(),
           'Pearson Correlation': column_pearson_corr,
           'Pearson P-Value': column_pearson_p_value}

all_df = pd.DataFrame(corr_df, columns = ['Column Name', 'Pearson Correlation', 'Pearson P-Value'])
all_df.sort_values(by = ['Pearson Correlation'], ascending=False)

   Column Name  Pearson Correlation  Pearson P-Value
15          G3             1.000000     0.000000e+00
14          G2             0.904868    7.625719e-148
13          G1             0.801468     9.001430e-90
1         Medu             0.217147     1.336107e-05
2         Fedu             0.152457     2.379973e-03
4    studytime             0.097820     5.206115e-02
6       famrel             0.051363     3.085520e-01
12    absences             0.034247     4.973318e-01
7     freetime             0.011307     8.227402e-01
10        Walc            -0.051939     3.031521e-01
9         Dalc            -0.054660     2.784915e-01
11      health            -0.061335     2.238770e-01
3   traveltime            -0.117142     1.986983e-02
8        goout            -0.132791     8.229000e-03
0          age            -0.161579     1.271439e-03
5     failures            -0.360415     1.465663e-13

<h3><span style="color:red">Spearman Rank Correlation</span></h3>
<br>
looking for numeric columns then, finding <b>pearson correlation</b> between G3 and numerical attributes

In [31]:
#Creating spearman rank correlation and p-value for the attributes
column_spearman_rank_corr = []
column_spearman_rank_p_value = []


for col in range(num_students.shape[1]):
    spearman_rank_corr = stats.spearmanr(num_students['G3'], num_students[num_students.columns[col]])
    column_spearman_rank_corr.append(spearman_rank_corr[0])
    column_spearman_rank_p_value.append(spearman_rank_corr[1])


# creating DataFrame for all correlations
corr_df = {'Column Name': num_students.columns.to_numpy(),
             'Spearman Rank Correlation': column_spearman_rank_corr,
             'Spearman P-Value': column_spearman_rank_p_value
            }

all_df = pd.DataFrame(corr_df, columns = ['Column Name', 'Spearman Rank Correlation', 'Spearman P-Value'])
all_df.sort_values(by = ['Spearman Rank Correlation'], ascending=False)

   Column Name  Spearman Rank Correlation  Spearman P-Value
15          G3                   1.000000      0.000000e+00
14          G2                   0.957125     1.425342e-213
13          G1                   0.878001     8.141180e-128
1         Medu                   0.225036      6.290448e-06
2         Fedu                   0.170049      6.895636e-04
4    studytime                   0.105170      3.667358e-02
6       famrel                   0.054977      2.757107e-01
12    absences                   0.017731      7.253626e-01
7     freetime                  -0.004994      9.211901e-01
11      health                  -0.047790      3.434712e-01
10        Walc                  -0.104459      3.797038e-02
3   traveltime                  -0.120530      1.654591e-02
9         Dalc                  -0.120944      1.617510e-02
8        goout                  -0.166119      9.192641e-04
0          age                  -0.173438      5.354722e-04
5     failures                  -0.361224      1.281880e-13

<h3><span style="color:red"> Kendall Tau Correlation</span></h3>
<br>
finding <b>kendall tau correlation</b> between G3 and numerical attributes

In [32]:
#Creating kendall datu correlation and p-value for the attributes
column_kendall_rank_corr = []
column_kendall_rank_p_value = []

for col in range(num_students.shape[1]):
    kendall_rank_corr = stats.kendalltau(num_students['G3'], num_students[num_students.columns[col]])
    column_kendall_rank_corr.append(kendall_rank_corr[0])
    column_kendall_rank_p_value.append(kendall_rank_corr[1])

# creating DataFrame for all correlations
corr_df = {'Column Name': num_students.columns.to_numpy(),
             'Kendall Tau Correlation': column_kendall_rank_corr,
             'Kendall Tau P-Value': column_kendall_rank_p_value
            }

all_df = pd.DataFrame(corr_df, columns = ['Column Name', 'Kendall Tau Correlation', 'Kendall Tau P-Value'])
all_df.sort_values(by = ['Kendall Tau Correlation'], ascending=False)

   Column Name  Kendall Tau Correlation  Kendall Tau P-Value
15          G3                 1.000000        2.795837e-166
14          G2                 0.883518        2.384954e-130
13          G1                 0.746343         1.904118e-93
1         Medu                 0.174766         8.280382e-06
2         Fedu                 0.132405         7.030994e-04
4    studytime                 0.085112         3.379330e-02
6       famrel                 0.044007         2.716000e-01
12    absences                 0.003723         9.202645e-01
7     freetime                -0.003746         9.240350e-01
11      health                -0.036624         3.449856e-01
10        Walc                -0.082838         3.331722e-02
9         Dalc                -0.097154         1.821330e-02
3   traveltime                -0.098996         1.708821e-02
8        goout                -0.130110         8.182581e-04
0          age                -0.134471         4.893167e-04
5     failures                -0.299185         6.366094e-13

<h3><span style="color:red">SelectKBest</span></h3>